.hero div {
    position: relative;
    text-align: center;
}

.hero__top2 h1,
.hero__top2 p {
    color: white;
}

.hero__top3 {
    position: absolute;
    left: 0 !important;

}


/* ----------------------------------------- */





.hero__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
}


.hero__bottom div h1 {
    font-size: 35px;
    margin: 0;
}

.hero__bottom div p {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
    width: 100%;
}

.hero__bottom__title1 h1,
.hero__bottom__title1 p,
.hero__bottom__title4 h1,
.hero__bottom__title4 p {
    color: white;
}



@media (max-width:800px) {
    .hero__bottom {

        grid-template-columns: 1fr;

        justify-content: space-between;
    }
}